body {
    background-color: #585858;
}

main {
    position: relative;
    margin-left: 256px;
    width: 1536px;
}

#creatorCanvas {
    background: white;
    border: 1px solid black;
    margin-left: 256px;
}

#infoBox {
    background: white;
    width: 1000px;
    padding: 13px;
    margin-left: 256px;
}

.sidebar {
    position: absolute;
    width: 250px;
    height: 100%;
    background-color: white;
}

#leftSidebar {
    left: 0px;
}

#rightSidebar {
    right: 0px;
}

.sidebar p {
    padding: 0.75em;
}