:root {
    --bg-color: #320112;
    --bg-gradient: radial-gradient(farthest-corner at 75% 25%, #ff0856, #710128);
    --info-bg: rgba(255, 156, 156, 0.5);
    --link-color: #0000CC;
    --visited-link-color: #000077;
}

body {
    background-color: var(--bg-color);
    background-image: repeating-radial-gradient(circle at 75% 50%, #e5074d, #320112);
}

main {
    position: relative;
    margin-left: 256px;
    width: 1536px;
    background-image: var(--bg-gradient);
    border-radius: 10px;
}

main * {
    background-color: rgba(0, 0, 0, 0);
}

#creatorCanvas {
    background: white;
    border: 1px solid black;
    margin-left: 256px;
}

#infoBox {
    width: 1024px;
    margin-left: 256px;
    background-color: var(--info-bg);
}

#infoBox * {
    padding: 5px;
    margin-top: 0px;
}

.sidebar {
    position: absolute;
    width: 250px;
    height: 100%;
    background-color: var(--info-bg);
}

#leftSidebar {
    left: 0px;
    border-radius: 10px 0px 0px 10px;
}

#rightSidebar {
    right: 0px;
    border-radius: 0px 10px 10px 0px;
}

.sidebar p {
    padding: 0.75em;
}

a {
    color: var(--link-color);
}

a:visited {
    color: var(--visited-link-color);
}